<template>
  <div class="page-container">
    <div class="scrollable-container">
      <header class="mt-4">
        <div class="waviy mb-2 large divider">
          <span style="--i: 1">C</span>
          <span style="--i: 2">O</span>
          <span style="--i: 3">N</span>
          <span style="--i: 4">T</span>
          <span style="--i: 5">A</span>
          <span style="--i: 6">C</span>
          <span style="--i: 7">T&nbsp;</span>
          <span style="--i: 8">M</span>
          <span style="--i: 9">E</span>
        </div>
      </header>

      <div class="container">
        <div class="modal">
          <form ref="form" @submit.prevent="sendEmail" class="form">
            <div class="separator">
              <hr class="line" />
              <p>Shoot an email!</p>
              <hr class="line" />
            </div>
            <div class="credit-card-info--form">
              <div class="input_container">
                <label for="name" class="input_label">Sender name</label>
                <input
                  name="name"
                  id="name"
                  class="input_field"
                  type="text"
                  title="Input title"
                  placeholder="Enter name"
                  required
                />
              </div>
              <div class="input_container">
                <label for="email" class="input_label">Sender email</label>
                <input
                  id="email"
                  class="input_field"
                  type="email"
                  name="email"
                  title="Input title"
                  placeholder="Enter email"
                  required
                />
              </div>
              <div class="input_container">
                <label for="message" class="input_label">Sender message</label>
                <input
                  id="message"
                  class="input_field"
                  type="text"
                  name="message"
                  title="Input title"
                  placeholder="Message"
                  required
                />
              </div>
            </div>
            <button class="purchase--btn">Email</button>
          </form>
        </div>
      </div>

      <v-snackbar
        v-model="snackbar"
        :timeout="snackbarTimeout"
        :color="snackbarColor"
        left
        center
        eager
        class="custom-snackbar"
      >
        {{ snackbarMessage }}
      </v-snackbar>
    </div>

    <!-- <footer class="example-header pb-3">
      <div>
        <div class="mt-3">
          <h4 class="pt-3 mb-3">Socials</h4>
          <v-btn density="compact" class="mr-2" icon="mdi-linkedin" href="https://www.linkedin.com/in/vincent-besa-a3b083235/" target="_blank"></v-btn>
          <v-btn density="compact" class="mr-2" icon="mdi-gitlab" href="https://gitlab.com/VincentBesa" target="_blank"></v-btn>
          <v-btn density="compact" class="mr-2" icon="mdi-facebook" href="https://www.facebook.com/vincent.beessaaa1" target="_blank"></v-btn>
          <v-btn density="compact" class="mr-2" icon="mdi-instagram" href="https://www.instagram.com/vincentbesssa/" target="_blank"></v-btn>
          <h4 class="pt-3 mb-1">Contact</h4>
          <h5 style="font-family: 'Kanit', sans-serif;">Johnvincent.besa@gmail.com</h5>
          <h5 style="font-family: 'Kanit', sans-serif;">(+63)9201226730 (Smart)</h5>
          <h5 class="mt-3">© All Rights Reserved 2023</h5>
        </div>
      </div>
    </footer>  -->
  </div>
</template>


<script>
import emailjs from "emailjs-com";

export default {
  data() {
    return {
      snackbar: false,
      snackbarMessage: "",
      snackbarTimeout: 6000, // Adjust timeout as needed
      snackbarColor: "", // 'success' or 'error'
    };
  },
  methods: {
    sendEmail() {
      if (this.$refs.form.checkValidity()) {
        emailjs
          .sendForm(
            "service_gsha5rc",
            "template_pi824o4",
            this.$refs.form,
            "mLsvvcRHThd70dIJl"
          )
          .then((result) => {
            console.log("SUCCESS!", result);
            if (result.status === 200) {
              this.showSnackbar("Email sent successfully!", "success");
              this.$refs.form.reset(); // Clear the form after successful submission
            }
          })
          .catch((error) => {
            console.log("FAILED...", error);
            this.showSnackbar("Failed to send email.", "error");
          });
      } else {
        this.showSnackbar("Please fill in all the required fields.", "error");
      }
    },
    showSnackbar(message, color) {
      this.snackbarMessage = message;
      this.snackbarColor = color;
      this.snackbar = true;
    },
  },
};
</script>

<style scoped lang='scss'>
// Waviy
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(236, 13, 13, 0.2));
  font-size: 23px;
}
.waviy span {
  font-family: "Kanit", sans-serif;
  position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.divider {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.03em;
    min-width: 35vw;
  }

  &::before {
    background: linear-gradient(to right, rgba(240, 240, 240, 0), #000000);
    margin-right: 4vh;
  }

  &::after {
    background: linear-gradient(to left, rgba(240, 240, 240, 0), #000000);
    margin-left: 4vh;
  }
}

.container {
  font-family: "Kanit", sans-serif;
  margin-top: 50px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  background: transparent;
}

.modal {
  width: 500px;
  height: fit-content;
  background: transparent;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01),
    0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09),
    0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
  max-width: 450px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.payment--options {
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: 33% 34% 33%;
  gap: 20px;
  padding: 10px;
}

.payment--options button {
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
}

.payment--options button svg {
  height: 18px;
}

.payment--options button:last-child svg {
  height: 22px;
}

.separator {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 10px;
  color: #8b8e98;
  margin: 0 10px;
}

.separator > p {
  word-break: keep-all;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 11px;
  margin: auto;
}

.separator .line {
  display: inline-block;
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e8e8e8;
  margin: auto;
}

.credit-card-info--form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.split {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 15px;
}

.split input {
  width: 100%;
}

.input_label {
  font-size: 10px;
  color: #8b8e98;
  font-weight: 600;
}

.input_field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}

.purchase--btn {
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(180deg, #363636 0%, #1b1b1b 50%, #000000 100%);
  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}

/* Reset input number styles */
.input_field::-webkit-outer-spin-button,
.input_field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_field[type="number"] {
  -moz-appearance: textfield;
}

.page-container {
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}

.scrollable-container {
  flex: 1;
  // overflow-y: auto;
}

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

// .example-header {
//     background: transparent;
//     // background: #24343c;
//     color: #000000;
//     font-weight: 300;
//     text-align: center;
//     h1 {
//         color: #FFF;
//         font-weight: 300;
//         margin-bottom: 20px
//     }
//     p {
//         font-size: 12px;
//         text-transform: uppercase;
//         letter-spacing: 3px;
//         font-weight: 700;
//     }
// }
</style>
