<template>
  <div class="div2">
    <header class="">
      <div class="waviy mt-4 large divider">
        <span style="--i: 1">E</span>
        <span style="--i: 2">X</span>
        <span style="--i: 3">P</span>
        <span style="--i: 4">E</span>
        <span style="--i: 5">R</span>
        <span style="--i: 6">I</span>
        <span style="--i: 7">E</span>
        <span style="--i: 8">N</span>
        <span style="--i: 9">C</span>
        <span style="--i: 10">E</span>
      </div>
    </header>
    <div class="timeline">
      <div
        v-for="(item, index) in events.slice().reverse()"
        :key="index"
        class="timeline-event ml-5"
      >
        <div class="timeline-event-line"></div>
        <!-- Line -->
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
          <p style="font-size: 14px" class="timeline-event-thumbnail">
            {{ item.date }}
          </p>
          <h4>{{ item.company }}</h4>
          <h4 class="glitch" :data-glitch="item.position">
            {{ item.position }}
          </h4>
          <ul class="ml-5 mb-1 mt-3">
            <li v-for="(desc, i) in item.description" :key="i">{{ desc }}</li>
          </ul>
          <section v-for="(link, index) in item.link" :key="index">
            -
            <a
              :href="link.link"
              target="_blank"
              style="color: #656666; font-size: 0.8em"
              ><b>{{ link.name }}</b></a
            >
          </section>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      events: [
        {
          date: "2015-2019 (4 Years)",
          company: "Jose Rizal University",
          position: "Bachelor of Science in Information and Technology",
          description: [
            "In 2019, a Bachelor of Science in Information Technology (BSIT) was received from Jose Rizal University, which is claimed to be one of the country's leading institutions for IT education.",
          ],
          link: [
            {
              name: "Jose Rizal University",
              link: "https://jru.edu/about-jru/",
            },
          ],
        },
        {
          date: "2019-2021 (2 Years and 3 Months)",
          company: "Reymund Sanchez LLC",
          position: "Web Content Manager",
          description: [
            "Worked as a web content manager for Interworld Highway.",
            "Built and managed product pages for TEquipment.net and Touchboards.com.",
            "Utilized HTML and CSS as fundamental frontend technologies for creating and managing content.",
          ],
          link: [
            {
              name: "Interworld Highway",
              link: "https://www.interworldhighway.com/",
            },
            {
              name: "Tequipment",
              link: "https://www.tequipment.net/",
            },
            {
              name: "Touchboards",
              link: "https://www.touchboards.com/",
            },
          ],
        },
        {
          date: "March 2022 - April (2 Months)",
          company: "Zuitt Coding Bootcamp",
          position: "Student",
          description: [
            "Completed Full Stack Web Development Course.",
            "Utilized MongoDB, Express.js, React.js, and Node.js (MERN Stack).",
          ],
          link: [
            {
              name: "Frontend Course Certificate",
              link: "https://share.zertify.zuitt.co/certificate/898f2be9-41ee-40bc-ac27-11435bab037e/",
            },
            {
              name: "Backend Course Certificate",
              link: "https://share.zertify.zuitt.co/certificate/50ebd968-036b-4362-81f5-70c32f644b71/",
            },
            {
              name: "MERN Tech Stack Certificate",
              link: "https://share.zertify.zuitt.co/certificate/55b91338-377f-4d69-bfd8-f5b3129519b3/",
            },
            {
              name: "Zuitt Certificate of Completion",
              link: "https://share.zertify.zuitt.co/certificate/e02727c2-ffa8-4dae-9749-cb24094412ba/",
            },
            {
              name: "Zuitt Coding Bootcamp",
              link: "https://zuitt.co/about/",
            },
          ],
        },
        {
          date: "May 2022 - April 2024 (2 Years)",
          company: "PETNET INC",
          position: "Web Developer",
          description: [
            "Pioneered the development of the Pera Remit Partner System, enabling efficient onboarding, tracking, and management of sub-agents.",
            "Collaborated with a team on the development of Web Treasury, a system designed to handle all aspects of Perahub treasury operations.",
            "Contributed as a team player to ensure visually appealing and seamless user experiences in my role.",
          ],
          link: [
            {
              name: "PETNET INC.",
              link: "https://perahub.com.ph/about-us",
            },
          ],
        },
        {
          date: "April 2024 - June 2024 (3 Months)",
          company: "LIVE 700 (FREELANCE)",
          position: "Web Developer",
          description: [
            "Modified and maintained the front-end architecture of a high-performance chat application using modern web technologies, primarily Vue.js.",
            "Created the chat management system for the application, enabling efficient management of users and data.",
            "Collaborated with back-end developers to integrate APIs, ensuring smooth data flow and real-time updates.",
          ],
        },
        {
          date: "September 2024 - Present",
          company: "WeSupport Incorporated",
          position: "Full Stack Developer",
          description: [
            "Assigned to Pru Life U.K."
          ],
        },
      ],
    };
  },
};
</script>


<style scoped lang='scss'>
.div2 {
  font-family: "Kanit", sans-serif;
}

.timeline {
  padding-top: 20px;
  padding-bottom: 0px;
  background: transparent;
  margin: 1em auto; /* Center the timeline horizontally */
  position: relative;
  max-width: 55em;
  overflow-y: auto; /* Add vertical scrollbar when content exceeds parent height */
  height: 80vh;
}

.timeline-event {
  position: relative;
  display: flex; /* Add display flex for aligning items */
}

.timeline-event-icon {
  transition: transform 0.2s ease-in;
  transform: rotate(45deg);
  background-color: black;
  outline: 0px solid white;
  width: 1em;
  height: 1em;
}

.timeline-event-line {
  position: absolute;
  left: 2em; /* Position on the left side of the icon */
  width: 2px;
  height: 100%;
  background-color: black;
}

.timeline-event-copy {
  padding: 2em;
  width: 100%;
}

.timeline-event-thumbnail {
  transition: box-shadow 0.5s ease-in 0.1s;
  color: white;
  font-size: 0.75em;
  background-color: black;
  box-shadow: inset 0 0 0 0em #ef795a;
  display: inline-block;
  margin-bottom: 1.2em;
  padding: 0.25em 1em 0.2em 1em;
}

.timeline-event:hover .timeline-event-icon {
  transform: rotate(-45deg);
  background-color: rgb(0, 100, 200);
}

.timeline-event:hover .timeline-event-thumbnail {
  box-shadow: inset 40em 0 0 0 rgb(0, 100, 200);
}

.timeline::-webkit-scrollbar {
  width: 5px;
}

.timeline::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.timeline::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.timeline::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// Waviy
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div2 {
  background: transparent;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(236, 13, 13, 0.2));
  font-size: 23px;
}
.waviy span {
  font-family: "Kanit", sans-serif;
  position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

$primary-color: #000000;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

body {
  color: #768390;
  background: #fff;
  font-family: "Kanit", sans-serif;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #24343c;
  margin-top: 0;
}
a {
  color: $primary-color;
  &:hover {
    color: $primary-color-hover;
    text-decoration: none;
  }
}

.divider {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.06em;
    min-width: 35vw;
  }

  &::before {
    background: linear-gradient(to right, rgba(240, 240, 240, 0), #000000);
    margin-right: 4vh;
  }

  &::after {
    background: linear-gradient(to left, rgba(240, 240, 240, 0), #000000);
    margin-left: 4vh;
  }
}

.container-fluid {
  .row {
    padding: 0 0 4em 0;
    &:nth-child(even) {
      background: #f1f4f5;
    }
  }
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #e4eaec;
  p {
    margin: 0 auto;
    font-size: 16px;
    max-width: 400px;
  }
}
// text
.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.glitch {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 4px;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}
</style>
