<template>
  <div class="div">
    <footer class="example-header pb-3">
      <div>
        
        <div class="mt-3">
            <h4 class="pt-3 mb-3">Socials</h4>
            <v-btn density="compact" class="mr-2" icon="mdi-linkedin" href="https://www.linkedin.com/in/vincent-besa-a3b083235/" target="_blank"></v-btn>
            <v-btn density="compact" class="mr-2" icon="mdi-gitlab" href="https://gitlab.com/VincentBesa" target="_blank"></v-btn>
            <v-btn density="compact" class="mr-2" icon="mdi-facebook" href="https://www.facebook.com/vincent.beessaaa1" target="_blank"></v-btn>
            <v-btn density="compact" class="mr-2" icon="mdi-instagram" href="https://www.instagram.com/vincentbesssa/" target="_blank"></v-btn>
            <h4 class="pt-3 mb-1">Contact</h4>
            <h5 style="font-family: 'Kanit', sans-serif;">Johnvincent.besa@gmail.com</h5>
            <h5 style="font-family: 'Kanit', sans-serif;">(+63)9201226730 (Smart)</h5>
            <h5 class="mt-3">© All Rights Reserved 2023</h5>
        </div>
      </div>
    </footer>    
  </div>
</template>

<script>

export default {
  data() {},
   methods: {}
}
</script>

<style scoped lang='scss'>

.example-header {
    background: #24343c;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    h1 {
        color: #FFF;
        font-weight: 300;
        margin-bottom: 20px
    }
    p {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
    }
}

</style>
