<template>

  <section class="nav-8 mb-5 sticky" style="background-color: transparent;">
    <nav class="nav-container" style="background-color: transparent;">
      <a class="item">
        <div data-text="Home" class="linktext"><v-icon class="mb-10" @click="triggerView('main')">mdi-home</v-icon></div>
      </a>
      <a class="item">
        <div data-text="Experience" class="linktext"><v-icon @click="triggerView('experience')">mdi-book-open-page-variant</v-icon></div>
      </a>
      <a class="item">
        <div data-text="Projects" class="linktext"><v-icon @click="triggerView('project')">mdi-bookshelf</v-icon></div>
      </a>
      <a class="item">
        <div data-text="Tools" class="linktext"><v-icon @click="triggerView('tools')">mdi-toolbox</v-icon></div>
      </a>
      <a class="item">
        <div data-text="Contact" class="linktext"><v-icon @click="triggerView('contact')">mdi-message-question</v-icon></div>
      </a>
    </nav>
  </section>


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap">
  <div class="area pt-10" id="home-section">

  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
    
  <Transition name="slide-fade">
    <v-row style="height: 100%" v-if="showMain">
      <v-col cols="12" md="6" class="text-center">
        
        <div class="d-flex flex-column justify-center align-left fill-height">
          <v-card
            class="mx-auto"
            elevation="0"
            outlined color="transparent"
          >

            <v-card-text class="text-left">

              <div class="waviy my-5 mb-5 mt-15 large">
                <span style="--i:1">H</span>
                <span style="--i:2">E</span>
                <span style="--i:3">L</span>
                <span style="--i:4">L</span>
                <span style="--i:5">O</span>
                <span style="--i:6">! &nbsp;</span>
                <span style="--i:7">I</span>
                <span style="--i:8">'</span>
                <span style="--i:9" class="mb-5">M</span>
              </div>

              <div class="waviy mt-16 small">
                <span style="--i:1">H</span>
                <span style="--i:2">I</span>
                <span style="--i:3">! &nbsp;</span>
                <span style="--i:4">I</span>
                <span style="--i:5">'</span>
                <span style="--i:6" class="mb-5">M</span>
              </div>

              <div class="glitch-wrapper">
                <div class="glitch" data-glitch="Vincent Besa" style="font-family: 'Kanit', sans-serif; font-size: 23px;">Vincent Besa</div>
              </div>

              <div class="mt-4">
                <h3 style="font-family: 'Kanit', sans-serif;">Full Stack Developer</h3>
              </div>
              
              <div class="mb-5 mt-1">
                <v-btn density="compact" class="mr-2" icon="mdi-linkedin" href="https://www.linkedin.com/in/vincent-besa-a3b083235/" target="_blank"></v-btn>
                <v-btn density="compact" class="mr-2" icon="mdi-gitlab" href="https://gitlab.com/VincentBesa" target="_blank"></v-btn>
                <v-btn density="compact" class="mr-2" icon="mdi-facebook" href="https://www.facebook.com/vincent.beessaaa1" target="_blank"></v-btn>
                <v-btn density="compact" class="mr-2" icon="mdi-instagram" href="https://www.instagram.com/vincentbesssa/" target="_blank"></v-btn>
              </div>

              <div class="mb-5">
                <h3 style="font-family: 'Kanit', sans-serif;">Feel free to get in touch. <v-icon>mdi-robot-happy-outline</v-icon></h3>
              </div>
              
              <div class="mb-5">
                <v-btn
                  color="#000000"
                  :loading="loading"
                  @click="loading = !loading"
                  class="px-3"
                  :href="myResume"
                  target="_blank"
                >
                  Download Resume
                  <template v-slot:loader>
                    <v-progress-linear indeterminate></v-progress-linear>
                  </template>
                </v-btn>
              </div>
              
            </v-card-text>
          </v-card>
        </div>
      </v-col>

      <v-col cols="12" md="6">
        <v-responsive class="align-center text-center fill-height">
          <v-img
            class="center_image box-image large"
            :width="400"
            :height="500"
            aspect-ratio="16/9"
            cover
            src="../assets/mee.jpg"
          ></v-img>
          <v-img
            class="center_image circular-image medium"
            :width="200"
            :height="200"
            aspect-ratio="16/9"
            cover
            src="../assets/mee.jpg"
          ></v-img>
          <v-img
            class="center_image circular-image small"
            :width="200"
            :height="200"
            aspect-ratio="16/9"
            cover
            src="../assets/mee.jpg"
          ></v-img>
        </v-responsive>
      </v-col>

    </v-row>
  </Transition>
  
  <Transition name="slide-fade">
    <div v-if="showExp">
      <ExperienceComponent/>
    </div>
  </Transition>

  <Transition name="slide-fade">
    <div v-if="showProject">
      <ProjectComponent/>
    </div>
  </Transition>
  
  <Transition name="slide-fade">
    <div v-if="showTools">
      <ToolsComponent/>
    </div>
  </Transition>

  <Transition name="slide-fade">
    <div v-if="showContact">
      <ContactMe/>
    </div>
  </Transition>

  </div>


  <!-- <div id="project-section">
    <ProjectComponent/>
  </div>
  <div id="tools-section">
    <ToolsComponent/>
  </div>
  <div id="contact-section">
    <ContactMe/>
  </div>
  <div>
    <FooterComponent/>
  </div> -->

</template>

<script>
import ExperienceComponent from '@/components/ExperienceComponent.vue'
import ProjectComponent from '@/components/ProjectComponent.vue'
import ToolsComponent from '@/components/ToolsComponent.vue'
import ContactMe from '@/components/ContactMe.vue'
// import FooterComponent from '@/components/FooterComponent.vue'
  export default {
    components:{
      ExperienceComponent:ExperienceComponent,
      ProjectComponent:ProjectComponent,
      ToolsComponent:ToolsComponent,
      ContactMe: ContactMe,
      // FooterComponent: FooterComponent
    },
    data: () => ({
      loading: false,
      myResume: '/BesaResume.pdf',
      showMain: false,
      showExp: false,
      showProject: false,
      showTools: false,
      showContact: false
    }),
    watch: {
      loading (val) {
        if (!val) return

        setTimeout(() => (this.loading = false), 3000)
      },
    },
    mounted() {
      setTimeout(() => (this.showMain = true), 1000)
    },
    methods: {
      triggerView(e) {
        if (e === 'main') {
          this.showExp = false;
          this.showProject = false;
          this.showTools = false;
          this.showContact = false;
          setTimeout(() => {
            this.showMain = true;
          }, 500)
        } else if (e === 'experience') {
          this.showMain = false;
          this.showProject = false;
          this.showTools = false;
          this.showContact = false;
          setTimeout(() => {
            this.showExp = true;
          }, 500)
        } else if (e === 'project') {
          this.showMain = false;
          this.showExp = false;
          this.showTools = false;
          this.showContact = false;
          setTimeout(() => {
            this.showProject = true;
          }, 500)
        } else if (e === 'tools') {
          this.showMain = false;
          this.showExp = false;
          this.showProject = false;
          this.showContact = false;
          setTimeout(() => {
            this.showTools = true;
          }, 500)
        } else if (e === 'contact') {
          this.showMain = false;
          this.showExp = false;
          this.showProject = false;
          this.showTools = false;
          setTimeout(() => {
            this.showContact = true;
          }, 500)
        }
      }
    }
  }
</script>

<style scoped>
html {
  scroll-behavior: smooth;
}

.large {
  display: none;
}
.medium {
  display: none;
}
.small {
  display: none;
}
/* Show when screen is at least 768px wide (large screens) */
@media (min-width: 768px) {
  .large {
    display: block;
  }
}
/* Show when screen is between 426px and 767px wide (medium screens) */
@media (min-width: 426px) and (max-width: 767px) {
  .medium {
    display: block;
  }
}
/* Show when screen is at most 425px wide (small screens) */
@media (max-width: 425px) {
  .small {
    display: block;
  }
}
.center_image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.box-image {
  border-radius: 10%; /* Ensures a perfect circle */
  overflow: hidden; /* Clips the image to the circular shape */
  box-shadow: 0 0 10px 4px #000; /* Adds a black outline with 10px of space and a width of 4px */
}
.circular-image {
  border-radius: 50%; /* Ensures a perfect circle */
  overflow: hidden; /* Clips the image to the circular shape */
}
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 23s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 20s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 20%;
  width: 120px;
  height: 120px;
  animation-delay: 1s;
}

.circles li:nth-child(12) {
  left: 60%;
  width: 30px;
  height: 30px;
  animation-delay: 2s;
}

.circles li:nth-child(13) {
  left: 80%;
  width: 90px;
  height: 90px;
  animation-delay: 3s;
}

.circles li:nth-child(14) {
  left: 45%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
}

.circles li:nth-child(15) {
  left: 30%;
  width: 70px;
  height: 70px;
  animation-delay: 5s;
}

.circles li:nth-child(16) {
  left: 70%;
  width: 110px;
  height: 110px;
  animation-delay: 6s;
}

.circles li:nth-child(17) {
  left: 15%;
  width: 40px;
  height: 40px;
  animation-delay: 7s;
}

.circles li:nth-child(18) {
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 8s;
}

.circles li:nth-child(19) {
  left: 50%;
  width: 60px;
  height: 60px;
  animation-delay: 9s;
}

.circles li:nth-child(20) {
  left: 90%;
  width: 100px;
  height: 100px;
  animation-delay: 10s;
}

.circles li:nth-child(21) {
  left: 5%;
  width: 50px;
  height: 50px;
  animation-delay: 11s;
  animation-duration: 16s;
}

.circles li:nth-child(22) {
  left: 95%;
  width: 20px;
  height: 20px;
  animation-delay: 12s;
  animation-duration: 13s;
}

.circles li:nth-child(23) {
  left: 55%;
  width: 70px;
  height: 70px;
  animation-delay: 13s;
  animation-duration: 14s;
}

.circles li:nth-child(24) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 14s;
  animation-duration: 15s;
}

.circles li:nth-child(25) {
  left: 35%;
  width: 40px;
  height: 40px;
  animation-delay: 15s;
  animation-duration: 18s;
}

.circles li:nth-child(26) {
  left: 75%;
  width: 60px;
  height: 60px;
  animation-delay: 16s;
  animation-duration: 19s;
}

.circles li:nth-child(27) {
  left: 85%;
  width: 50px;
  height: 50px;
  animation-delay: 17s;
  animation-duration: 20s;
}

.circles li:nth-child(28) {
  left: 45%;
  width: 110px;
  height: 110px;
  animation-delay: 18s;
  animation-duration: 21s;
}

.circles li:nth-child(29) {
  left: 65%;
  width: 90px;
  height: 90px;
  animation-delay: 19s;
  animation-duration: 22s;
}

.circles li:nth-child(30) {
  left: 10%;
  width: 80px;
  height: 80px;
  animation-delay: 20s;
  animation-duration: 23s;
}

.circles li:nth-child(31) {
  left: 30%;
  width: 25px;
  height: 25px;
  animation-delay: 21s;
  animation-duration: 12s;
}

.circles li:nth-child(32) {
  left: 40%;
  width: 35px;
  height: 35px;
  animation-delay: 22s;
  animation-duration: 17s;
}

.circles li:nth-child(33) {
  left: 60%;
  width: 100px;
  height: 100px;
  animation-delay: 23s;
  animation-duration: 18s;
}

.circles li:nth-child(34) {
  left: 70%;
  width: 45px;
  height: 45px;
  animation-delay: 24s;
  animation-duration: 19s;
}

.circles li:nth-child(35) {
  left: 50%;
  width: 75px;
  height: 75px;
  animation-delay: 25s;
  animation-duration: 20s;
}


@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}
/* Background */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -23px linear-gradient(transparent, rgba(236, 13, 13, 0.2));
  font-size: 45px;
}
.waviy span {
  font-family: 'Kanit', sans-serif;
  position: relative;
  display: inline-block;
  color: #0a0a0a;
  text-transform: uppercase;
  animation: waviy 0s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
  font-family: 'Kanit', sans-serif;
}

.area{
    background: #ffffff; 
    height: 100vh; 
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


/* Nav */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Titillium+Web:wght@300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100; /* Adjust the z-index as needed */
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body, html {
  margin:0px;
  background:#2ECC71;
  color:#fff;
  text-align:center;
  height:325px;
  max-height:325px;
}
section{
  height:5%;
  width:100%;
}
.anchor{
  position:absolute;
}
.item{
  margin-bottom:20px;
}

.nav-8{
  background:#ffffff;
}
.nav-8 nav{
  background:#ffffff;
}
.nav-8 .linktext{
  font-size:1em;
  text-align:center;
  position:relative;
  z-index:2;
  color:#0a0a0a;
  text-decoration:none;
  font-family: 'Kanit', sans-serif;
  text-transform:uppercase;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-8 .linktext:before, .nav-8 .linktext:after{
  opacity:0;
  position:absolute;
  top:7px;
  transform:translateY(36px);
  -webkit-transform:translateY(36px);
  left:0px;
  width:100%;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  font-size:0.5em;
}
.nav-8 .linktext:before{
  content:'';
  height:2px;
  background:#0a0a0a;
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-8 .linktext:after{
  content:attr(data-text);
  color:#050505;
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-8 .item{
  position:relative;
  display:inline-block;
  height:15px;
  padding-top:5px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:25px;
  background:transparent;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
  z-index:2;
  color:#0c0c0c;
  text-decoration:none;
  font-family: 'Kanit', sans-serif;
  text-transform:uppercase;
  transition:0.3s ease-in-out;
  -webkit-transition:0.3s ease-in-out;
}
.nav-8 .item:hover .linktext{
  transform:scale(1.3);
  -webkit-transform:scale(1.3);
}
.nav-8 .item:hover .linktext:before{
  transition-delay:0s;
  -webkit-transition-delay:0s;
}
.nav-8 .item:hover .linktext:after{
  transition-delay:0.15s;
  -webkit-transition-delay:0.15s;
}
.nav-8 .item:hover .linktext:before, .nav-8 .item:hover .linktext:after{
  transform:translateY(16px);
  -webkit-transform:translateY(16px);
  opacity:1;
}

/* text */
.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: left;
   justify-content: left;
   text-align: left;
   background-color: rgba(255, 255, 255, 0);
}

.glitch {
   position: relative;
   font-size: 30px;
   font-weight: 700;
   line-height: 1.2;
   color: #000000;
   letter-spacing: 4px;
   animation: shift 4s ease-in-out infinite alternate;
   z-index: 1;
}

.glitch:before {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: -2px;
   text-shadow: -1px 0 #00ffff;
   width: 100%;
   color: #000000;
   background-color: #ffffff;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 2px;
   text-shadow: 1px 0 #ff00ff;
   width: 100%;
   color: #000000;
   background-color: #ffffff;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }

   5% {
      clip: rect(33px, 9999px, 144px, 0);
   }

   10% {
      clip: rect(121px, 9999px, 115px, 0);
   }

   15% {
      clip: rect(144px, 9999px, 162px, 0);
   }

   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }

   25% {
      clip: rect(34px, 9999px, 42px, 0);
   }

   30% {
      clip: rect(147px, 9999px, 179px, 0);
   }

   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }

   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }

   45% {
      clip: rect(154px, 9999px, 14px, 0);
   }

   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }

   55% {
      clip: rect(161px, 9999px, 147px, 0);
   }

   60% {
      clip: rect(109px, 9999px, 175px, 0);
   }

   65% {
      clip: rect(157px, 9999px, 88px, 0);
   }

   70% {
      clip: rect(173px, 9999px, 131px, 0);
   }

   75% {
      clip: rect(62px, 9999px, 70px, 0);
   }

   80% {
      clip: rect(24px, 9999px, 153px, 0);
   }

   85% {
      clip: rect(138px, 9999px, 40px, 0);
   }

   90% {
      clip: rect(79px, 9999px, 136px, 0);
   }

   95% {
      clip: rect(25px, 9999px, 34px, 0);
   }

   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }

   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }

   10% {
      clip: rect(184px, 9999px, 89px, 0);
   }

   15% {
      clip: rect(121px, 9999px, 6px, 0);
   }

   20% {
      clip: rect(181px, 9999px, 99px, 0);
   }

   25% {
      clip: rect(154px, 9999px, 133px, 0);
   }

   30% {
      clip: rect(134px, 9999px, 169px, 0);
   }

   35% {
      clip: rect(26px, 9999px, 187px, 0);
   }

   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }

   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }

   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }

   55% {
      clip: rect(74px, 9999px, 54px, 0);
   }

   60% {
      clip: rect(145px, 9999px, 75px, 0);
   }

   65% {
      clip: rect(153px, 9999px, 198px, 0);
   }

   70% {
      clip: rect(99px, 9999px, 136px, 0);
   }

   75% {
      clip: rect(118px, 9999px, 192px, 0);
   }

   80% {
      clip: rect(1px, 9999px, 83px, 0);
   }

   85% {
      clip: rect(145px, 9999px, 98px, 0);
   }

   90% {
      clip: rect(121px, 9999px, 154px, 0);
   }

   95% {
      clip: rect(156px, 9999px, 44px, 0);
   }

   100% {
      clip: rect(67px, 9999px, 122px, 0);
   }
}

@keyframes shift {
   0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
      transform: skewX(0deg);
   }

   41% {
      transform: skewX(10deg);
   }

   42% {
      transform: skewX(-10deg);
   }

   59% {
      transform: skewX(40deg) skewY(10deg);
   }

   60% {
      transform: skewX(-40deg) skewY(-10deg);
   }

   63% {
      transform: skewX(10deg) skewY(-5deg);
   }

   70% {
      transform: skewX(-50deg) skewY(-20deg);
   }

   71% {
      transform: skewX(10deg) skewY(-10deg);
   }
}

.slide-fade-enter-active {
  transition: all 1s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}


</style>