<template>
  <div style="height: 100%">
    <header>
      <div class="waviy mt-4 large divider">
        <span style="--i: 1">P</span>
        <span style="--i: 2">R</span>
        <span style="--i: 3">O</span>
        <span style="--i: 4">J</span>
        <span style="--i: 5">E</span>
        <span style="--i: 6">C</span>
        <span style="--i: 7">T</span>
        <span style="--i: 8">S</span>
      </div>
    </header>

    <div class="scrollable-container">
      <div class="cards-container mb-10">
        <div class="card mx-10 my-5" :class="{ 'fly-in': show }">
          <img class="box-image" src="../assets/cartoon1.jpg" alt="Portfolio" />
          <div class="card__descr-wrapper">
            <p class="card__title">Online Portfolio (2023)</p>
            <p style="font-size: 12px">Deployed with Vercel</p>
            <p style="font-size: 12px">Tools: Vuetify 3</p>
            <p class="card__descr">
              Developed a captivating static online portfolio that effectively
              demonstrates expertise in Vuetify and responsive web development.
            </p>
            <br />
            <div class="card__links">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                  class="svg"
                >
                  &lt;
                  <path
                    d="M562.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L405.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C189.5 251.2 196 330 246 380c56.5 56.5 148 56.5 204.5 0L562.8 267.7zM43.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C57 372 57 321 88.5 289.5L200.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C416.5 260.8 410 182 360 132c-56.5-56.5-148-56.5-204.5 0L43.2 244.3z"
                  ></path>
                </svg>
                <a class="link" href="#"> Visit</a>
              </div>
              <div>
                <v-btn
                  density="compact"
                  class="mt-2"
                  icon="mdi-gitlab"
                  disabled=""
                ></v-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="card mx-10 my-5" :class="{ 'fly-in': show }">
          <img class="box-image" src="../assets/api.jpg" alt="API" />
          <div class="card__descr-wrapper">
            <p class="card__title">Ecommerce API (2022)</p>
            <p style="font-size: 12px">Deployed with Heroku</p>
            <p style="font-size: 12px">
              Tools: Node | Express | MongoDB | Postman
            </p>
            <p class="card__descr">
              Demonstrated proficiency in JavaScript, MongoDB, Node.js,
              Express.js, and Postman. These skills were applied to develop an
              API for Music Avenue, creating a robust web application with
              modern tools and practices.
            </p>
            <br />
            <div class="card__links">
              <div></div>
              <div>
                <v-btn
                  density="compact"
                  class="mt-2"
                  icon="mdi-gitlab"
                  disabled=""
                ></v-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="card mx-10 my-5" :class="{ 'fly-in': show }">
          <img
            class="box-image"
            src="../assets/e-commerce.jpg"
            alt="MusicAvenue"
          />
          <div class="card__descr-wrapper">
            <p class="card__title">Music Avenue (2022)</p>
            <p style="font-size: 12px">MERN Stack</p>
            <p style="font-size: 12px">Deployed with Heroku and Vercel</p>
            <p style="font-size: 12px">
              Tools: MongoDB | Express | React | Node
            </p>
            <p class="card__descr">
              Demonstrated mastery of the MERN Stack (MongoDB, Express.js,
              React.js, and Node.js), aiming to create an innovative web
              application highlighting technical skills, adaptability, and
              innovation.
            </p>
            <br />
            <div class="card__links">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                  class="svg"
                >
                  &lt;
                  <path
                    d="M562.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L405.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C189.5 251.2 196 330 246 380c56.5 56.5 148 56.5 204.5 0L562.8 267.7zM43.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C57 372 57 321 88.5 289.5L200.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C416.5 260.8 410 182 360 132c-56.5-56.5-148-56.5-204.5 0L43.2 244.3z"
                  ></path>
                </svg>
                <a
                  class="link"
                  href="https://capstone3-besa.vercel.app/"
                  target="_blank"
                >
                  Visit</a
                >
              </div>
              <div>
                <v-btn
                  density="compact"
                  class="mt-2"
                  icon="mdi-gitlab"
                  disabled=""
                ></v-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="card mx-10 my-5" :class="{ 'fly-in': show }">
          <img class="box-image" src="../assets/prp.png" alt="PETNET" />
          <div class="card__descr-wrapper">
            <p class="card__title">Pera Remit Partner (2023)</p>
            <p style="font-size: 12px">PETNET INC.</p>
            <p style="font-size: 12px">Tools: Vue 2 | Vuetify | Vuex</p>
            <p class="card__descr mb-3">
              Pioneered the development of the Pera Remit Partner System,
              created to efficiently manage all aspects of sub-agent onboarding,
              tracking, and management for PeraHub.
            </p>
            <br />
            <div class="card__links">
              <div></div>
              <div>
                <v-btn density="compact" icon="mdi-gitlab" disabled=""></v-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="card mx-10 my-5" :class="{ 'fly-in': show }">
          <img
            class="box-image mt-5 mx-5"
            src="../assets/treasury.png"
            alt="PETNET"
          />
          <div class="card__descr-wrapper">
            <p class="card__title">Web Treasury (2024)</p>
            <p style="font-size: 12px">PETNET INC.</p>
            <p style="font-size: 12px">Tools: Vue 3 | Quasar | Piñia</p>
            <p class="card__descr">
              Collaborated with a team on Web Treasury's development, a system
              tailored to manage all aspects of Perahub's treasury operations.
            </p>
            <br />
            <div class="card__links">
              <div></div>
              <div>
                <v-btn density="compact" icon="mdi-gitlab" disabled=""></v-btn>
              </div>
            </div>
          </div>
        </div>

        <div class="card mx-10 my-5" :class="{ 'fly-in': show }">
          <img class="box-image" src="../assets/lazapee.jpg" alt="lazapee" />
          <div class="card__descr-wrapper">
            <p class="card__title">Lazapee (2024)</p>
            <p style="font-size: 12px">Deployed with Vercel</p>
            <p style="font-size: 12px">Tools: React | Next.js | Zustand</p>
            <p class="card__descr">
              Shopping web application with CRUD functionality using Next.js and
              Zustand, deployed on Vercel.
            </p>
            <br />
            <div class="card__links">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 640 512"
                  class="svg"
                >
                  &lt;
                  <path
                    d="M562.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L405.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C189.5 251.2 196 330 246 380c56.5 56.5 148 56.5 204.5 0L562.8 267.7zM43.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C57 372 57 321 88.5 289.5L200.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C416.5 260.8 410 182 360 132c-56.5-56.5-148-56.5-204.5 0L43.2 244.3z"
                  ></path>
                </svg>
                <a
                  class="link"
                  href="https://nextjs-fullstack-besa.vercel.app/"
                  target="_blank"
                >
                  Visit</a
                >
              </div>
              <div>
                <v-btn
                  density="compact"
                  class="mt-2"
                  icon="mdi-gitlab"
                  disabled=""
                ></v-btn>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      show: false,
    };
  },
  mounted() {
    this.checkIfInView();
    window.addEventListener("scroll", this.checkIfInView);
  },
  beforeMount() {
    window.removeEventListener("scroll", this.checkIfInView);
  },
  methods: {
    checkIfInView() {
      const cards = document.querySelectorAll(".card");
      cards.forEach((card) => {
        const rect = card.getBoundingClientRect();
        const isVisible = rect.top >= 0 && rect.bottom <= window.innerHeight;
        if (isVisible && !this.show) {
          this.show = true;
        }
      });
    },
  },
};
</script>

<style scoped lang='scss'>
.scrollable-container {
  font-family: "Kanit", sans-serif;
  height: 87vh; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds container height */
}

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
// Waviy
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(236, 13, 13, 0.2));
  font-size: 23px;
}
.waviy span {
  font-family: "Kanit", sans-serif;
  position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.divider {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);

  display: flex;
  justify-content: center;
  align-items: center;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.03em;
    min-width: 35vw;
  }

  &::before {
    background: linear-gradient(to right, rgba(240, 240, 240, 0), #000000);
    margin-right: 4vh;
  }

  &::after {
    background: linear-gradient(to left, rgba(240, 240, 240, 0), #000000);
    margin-left: 4vh;
  }
}

// New
// .card {
//   opacity: 0;
//   transition: opacity 0s ease;
// }

.fly-in {
  opacity: 1;
}

.fly-in-left {
  transform: translateX(-50px); /* Initial position for flying in from left */
}

.fly-in-right {
  transform: translateX(50px); /* Initial position for flying in from right */
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  --font-color: #323232;
  --bg-color: transparent;
  width: 350px;
  height: 100%;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: -9px 9px 18px #9b9a9a, 9px -9px 18px #ffffff;
  display: flex;
  flex-direction: column;
  transition: 0.4s;
  position: relative;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px #5a5a5a;
}

.card__descr-wrapper {
  padding: 15px;
  display: grid;
}

.card__title {
  color: var(--font-color);
  text-align: center;
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 16px;
}

.card__descr {
  padding-top: 10px;
  color: var(--font-color);
}

.svg {
  width: 25px;
  height: 25px;
  transform: translateY(25%);
  fill: var(--font-color);
}

.card__links {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
}

.card__links .link {
  color: var(--font-color);
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
}

.card__links .link:hover {
  text-decoration: underline;
}
</style>
