<template>
  <div style="height: 100%">
    <header class="mt-4">
      <div class="waviy mb-5 large divider">
        <span style="--i: 1">T</span>
        <span style="--i: 2">O</span>
        <span style="--i: 3">O</span>
        <span style="--i: 4">L</span>
        <span style="--i: 5">S</span>
      </div>
    </header>

    <div class="scrollable-container">
      <div class="center-container">
        <h3 class="glitch">Versatile Developer</h3>
        <p>
          Experienced developer with a strong background in Vue.js and React,
          proficient with their multiple frameworks and state management
          libraries. Well-versed in Node.js and Laravel for back-end solutions.
          Committed to crafting efficient and high-quality applications.
        </p>
        <h3 class="glitch mt-10" data-glitch="Tech I use">Tech I use</h3>
      </div>

      <div class="center-container2">
        <div
          v-for="(icon, index) in gitIcons"
          :key="index"
          class="svg-border-container mx-2"
        >
          <img :src="icon.url" class="responsive-svg" />
          <span class="tooltip"
            ><h5>{{ icon.title }}</h5></span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    gitIcons: [
      // Icon Here: https://github.com/devicons/devicon/tree/master/icons
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg",
        title: "HTML5",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg",
        title: "CSS3",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg",
        title: "JavaScript",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg",
        title: "Vue.js",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg",
        title: "React",
      },
      {
        url: "https://user-images.githubusercontent.com/7110136/29002857-9e802f08-7ab4-11e7-9c31-604b5d0d0c19.png",
        title: "Vuex",
      },
      // { url: 'https://svgmix.com/uploads/d5e33f-pinia.svg', title: 'Piñia' },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/electron/electron-original.svg",
        title: "Electron",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuetify/vuetify-original.svg",
        title: "Vuetify",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/quasar/quasar-original.svg",
        title: "Quasar",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/antdesign/antdesign-original.svg",
        title: "Ant Design",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/redux/redux-original.svg",
        title: "Redux",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nuxtjs/nuxtjs-original.svg",
        title: "Nuxt.js",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg",
        title: "PHP",
      },
      {
        url: "https://raw.githubusercontent.com/devicons/devicon/ca28c779441053191ff11710fe24a9e6c23690d6/icons/java/java-plain-wordmark.svg",
        title: "Java",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/laravel/laravel-original.svg",
        title: "Laravel",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg",
        title: "Node.js",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg",
        title: "Express",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg",
        title: "Git",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg",
        title: "GitHub",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/gitlab/gitlab-original.svg",
        title: "GitLab",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg",
        title: "MySQL",
      },
      {
        url: "https://raw.githubusercontent.com/devicons/devicon/ca28c779441053191ff11710fe24a9e6c23690d6/icons/oracle/oracle-original.svg",
        title: "Oracle",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg",
        title: "MongoDB",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postman/postman-original.svg",
        title: "Postman",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tortoisegit/tortoisegit-original.svg",
        title: "TortoiseGit",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vercel/vercel-original.svg",
        title: "Vercel",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg",
        title: "Heroku",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg",
        title: "Jira",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original.svg",
        title: "Azure",
      },
      {
        url: "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/yarn/yarn-original.svg",
        title: "Yarn",
      },
    ],
  }),
};
</script>

<style scoped lang='scss'>
// Waviy
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(236, 13, 13, 0.2));
  font-size: 23px;
}
.waviy span {
  font-family: "Kanit", sans-serif;
  position: relative;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
  animation: waviy 3s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

.divider {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  &::before,
  &::after {
    content: "";
    display: block;
    height: 0.03em;
    min-width: 35vw;
  }
  &::before {
    background: linear-gradient(to right, rgba(240, 240, 240, 0), #000000);
    margin-right: 4vh;
  }
  &::after {
    background: linear-gradient(to left, rgba(240, 240, 240, 0), #000000);
    margin-left: 4vh;
  }
}

// New
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  padding: 0 10px;
}

.center-container h3,
.center-container p {
  text-align: left;
  width: 100%;
  margin: 10px 0;
}

.center-container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  max-width: 77%;
  margin: 0 auto;
  padding: 0 10px;
}

.center-container2 div {
  text-align: left;
  width: 100%;
  margin: 10px 0;
}

.svg-container {
  flex: 0 0 auto;
}

.svg-border-container {
  flex: 0 0 0%; /* Each item takes up the full width of its container */
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center; /* Center the icon horizontally within its container */
  margin-right: 10px; /* Add some space between containers */
  box-sizing: border-box; /* Include padding and border in item's width */
  position: relative;
}

.responsive-svg {
  width: 50px; /* Set a fixed width for responsiveness */
  height: auto;
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 10px); /* Position the tooltip below the image */
  left: 50%; /* Center the tooltip horizontally */
  transform: translateX(-50%);
  padding: 8px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 4px;
  transition: opacity 0.3s;
  pointer-events: none; /* Ensure the tooltip doesn't interfere with hover events */
  z-index: 999;
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 0.6em;
  width: 0.6em;
  bottom: -0.2em;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  background-color: rgba(0, 0, 0, 0.8);
}

.tooltip-container:hover .tooltip {
  top: -100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.svg-border-container:hover .tooltip {
  opacity: 1; /* Make the tooltip visible when hovering over the container */
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}

.glitch {
  position: relative;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  letter-spacing: 4px;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

.scrollable-container {
  font-family: "Kanit", sans-serif;
  height: 80vh; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scrollbar when content exceeds container height */
}

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

.scrollable-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
</style>
